label {
  cursor: pointer;
}

.upload-photo {
  opacity: 0;
  position: absolute;
  z-index: -1;
}

img {
  object-fit: cover;
}

.input-2 {
  position: relative;
  i {
    cursor: pointer;
    position: absolute;
    top: 17px;
    right: 10px;
  }
}
